[github]
	user = 5v3n
[user]
	name = Sven Kraeuter | 5v3n
	email = sven.kraeuter@gmail.com
[core]
	excludesfile = /Users/svenkrauter/.gitignore
	autocrlf = input
	editor = mate -w
	quotepath = false
[sendemail]
	smtpserver = mail.gmx.net
[alias]
 co = checkout
 st = status
 ci = commit
 rc = rebase --continue
 pr = pull --rebase
[color]
 status = auto
 diff = auto
 branch = auto
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[mergetool]
	keepBackup = false
