[user]
	name = Sven Kraeuter | 5v3n
	email = sven.kraeuter@gmx.net
[core]
	excludesfile = /Users/svenkrauter/.gitignore
	autocrlf = input
	editor = mate -w

[alias]
 co = checkout
 st = status
 ci = commit
 rc = rebase --continue
 pr = pull --rebase
[color]
 status = auto
 diff = auto
 branch = auto
[merge]
 tool = opendiff
